.card {
	    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #CBD4C2;
    padding: 30px;
    margin: 30px 10px 30px 10px;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 15%);
    border-radius: 3px;
    text-align: center;
    width: 400px;
}

.card img {
	padding-right: 20px;
    border-radius: 3px;
    width: 150px;
}

.card h3 {
    flex-grow: 1;
    font-size: 15px;
    padding: 10px;
}

.cards-aligned {
	display: flex;
    justify-content: center;
}